.domain-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
  border: 1px solid red;
  margin: 10px 0px;
  padding: 30px;
}
