<div class="domain-card-container">
  <div>{{ domain.domain }}</div>
  <div>Desktop Ads: {{ domain.desktopAds }}</div>
  <div>Mobile Ads: {{ domain.mobileAds }}</div>
</div>
<div>
  <button (click)="toggleEdit()">Edit</button>
</div>
<div class="form" *ngIf="isEdit">
  <div>Domain:</div>
  <input type="text" [(ngModel)]="domain.domain">
  <div>Mobile Ads:</div>
  <input type="text" [(ngModel)]="domain.mobileAds">
  <div>Desktop Ads:</div>
  <input type="text" [(ngModel)]="domain.desktopAds">
  <button (click)="editDomain()">Save</button>
  <button (click)="deleteDomain()">Delete</button>
</div>